html, body {
    min-height: 100%;
    height: 100%;
}

.about {
    width: 100%;
    height: 25px;
    background-color: rgb(0, 166, 255);
    font-size: 15px;
    padding: 5px 0px 0px 5px;
    text-align: end;
    color: rgb(255, 255, 255);
}

.wrapper {
    height: 100%;
    background-image: url("imgHospital.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.navbar-item {
    width: 50%;
}

.item1 {
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.menu-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.menu-container ul {
    list-style-type: none;
    overflow: hidden;
    margin-block: 0px; margin-inline: 0px; padding-inline-start: 0px; }

.menu-container ul li {
    float: left;
}

.menu-container ul li a {
    display: block;
    color: rgb(102, 102, 102);
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

.menu-container ul li a:hover {
    background-color: rgb(227, 199, 199);
}

.intro {
    width: 100%;
    height: 300px;
}

.intro .intro-content {
    margin: auto 100px;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    padding-top: 90px;
    font-size: 30px;
    color: rgb(233, 230, 229);
}

.content1 {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    height: 230px;
    padding-left: 70px;
}

hr {
    margin-block: 0px; }

.appoinment {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    height: 70px;
}

.content2 {
    background-color: rgb(255, 255, 255);
    min-height: 700px;
    display: flex;
}

.content2 .infor {
    width: 50%;
    min-height: 700px;
    display: flex;
}

.content2 .infor .infor-item1 {
    width: 66.66%;
    height: 100%;
    display: flex;
    align-items: start;
}

.acc-from {
    margin: auto 20px 35px;
    width: 210px;
    height: 30px;
    text-indent: 10px;
}

.sex {
    margin: auto 20px 35px;
    width: 210px;
    height: 30px;
    text-indent: 10px;
}

.acc-note {
    margin: auto 20px 35px;
    width: 470px;
    height: 140px;
    text-align: right;
}

.submit {
    margin: auto 20px 35px;
    width: 470px;
    height: 30px;
    background-color: rgb(0, 147, 255);
    color: rgb(255, 255, 255);
}
