
body{    
    background-color: #7ebb5b; 
    padding: 20px;
}
.flex{
    display: flex;
    justify-content: center;
}
.container{
    width: 300px; height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: center; 
}
.container .account{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin: 20px;
}
.container .account .item{
    padding-left:20px;
    margin: 10px;
    border: none; height: 35px; width: 180px; background-color: #f2f2f2;
}
.container .account .login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    height: 35px; width: 202px;
    font-size: 14px;
    background-color: #53af50;
    color: white;
    border: none;
}
.container .create-acc{
    color: #6f6666;
    font-size: 12px
}
.container .create-acc a{
    text-decoration-color: #FFFF;
    color: #7ebb5b;
}